<a href="https://colab.research.google.com/github/sharsh09/-_-/blob/main/Task4_EMAIL_SPAM_DETECTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 4 - EMAIL SPAM DETECTION WITH MACHINE LEARNING

In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

In [2]:
# Loading Data
df = pd.read_csv("/content/spam.csv", encoding = "latin1")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
# We don't need the last four columns 
new_df = df.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 3", "Unnamed: 4"], axis=1)
new_df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
new_df.size

11144

In [5]:
new_df.shape # No of columns and rows

(5572, 2)

In [6]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
new_df.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [8]:
new_df.isnull().sum()  # To see the number of missing data for each column

v1    0
v2    0
dtype: int64

In [9]:
new_df.drop_duplicates(inplace=True)
print(new_df.shape) # To check for duplicates and remove them

(5169, 2)

In [10]:
new_df["v1"].value_counts() # Total no of ham and spam

ham     4516
spam     653
Name: v1, dtype: int64

Stop words in natural language processing, are useless words (data)

In [11]:
# download the stopwords package
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [12]:
# Creating a function to clean the text and return the tokens.
# Cleaning of the text can be done by first removing punctuation 
# and then removing the useless words also known as stop words.

def process(v2):
    nopunc = [char for char in v2 if char not in string.punctuation]
    nopunc = ''.join(nopunc)

    clean = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return clean
# to show the tokenization
new_df['v2'].head().apply(process)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: v2, dtype: object

In [13]:
# Converting the text into a matrix of token counts.

from sklearn.feature_extraction.text import CountVectorizer
email = CountVectorizer(analyzer=process).fit_transform(df['v2'])

Spliting the data into training and testing sets.

In [14]:
#spliting the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(email, df['v1'], test_size=0.20, random_state=0)
# To see the shape of the data
print(email.shape)

(5572, 11304)

Create and train the Naive Bayes Classifier

In [15]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(x_train, y_train)

In [16]:
# To see the classifiers prediction and actual values on the data set
print(classifier.predict(x_train))
print(y_train.values)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']
['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

Model Evaluation

In [17]:
# Evaluating the model on the training data set
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pred = classifier.predict(x_train)
print(classification_report(y_train, pred))
print()
print("Confusion Matrix: \n", confusion_matrix(y_train, pred))
print("Accuracy: \n", accuracy_score(y_train, pred))

              precision    recall  f1-score   support

         ham       1.00      1.00      1.00      3876
        spam       0.98      0.98      0.98       581

    accuracy                           0.99      4457
   macro avg       0.99      0.99      0.99      4457
weighted avg       0.99      0.99      0.99      4457


Confusion Matrix:
 [[3864   12]
 [  12  569]]
Accuracy:
 0.9946152120260264

In [18]:
# Testing the model on the test data set by printing the predicted value, and the actual value to see if the model can accurately classify the email text.
# print the predictions
print(classifier.predict(x_test))
# print the actual values
print(y_test.values)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']
['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

In [19]:
# Evaluating the model on the test data set

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pred = classifier.predict(x_test)
print(classification_report(y_test, pred))
print()
print("Confusion Matrix: \n", confusion_matrix(y_test, pred))
print("Accuracy: \n", accuracy_score(y_test, pred))

              precision    recall  f1-score   support

         ham       0.99      0.96      0.97       949
        spam       0.81      0.93      0.87       166

    accuracy                           0.96      1115
   macro avg       0.90      0.95      0.92      1115
weighted avg       0.96      0.96      0.96      1115


Confusion Matrix:
 [[914  35]
 [ 12 154]]
Accuracy:
 0.957847533632287

In [20]:
# The classifier accurately identified the email messages as spam or ham with 95.7 % accuracy on the test data.